@import "../../styles/mixins.scss";

.payment {
  padding-block: 2rem 4rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 5rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }
  &__text {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    margin-top: 2rem;

    h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
  }

  &__right {
    position: relative;

    h4 {
      color: #6f00eb;
    }

    div {
      color: #110d34;
      font-weight: 500;
      font-size: 1rem;
    }

    @include respond(tab-port) {
      width: 98%;
      margin-inline: auto;
    }
  }

  .img-1 {
    width: 50%;
    margin-inline: auto;
  }

  .img-2 {
    position: absolute;
    width: 60%;
    right: 60%;
    bottom: -6%;
    z-index: -1;
  }
}
